body {
  background: url('background.jpg') ;
  /*background-position: 0%;
  height: fit-content;
  width: fit-content;
  display: ;
  */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
  background-size: 1530px;
  background-size: cover;
  /*filter: blur(8px);*/
  
  }
  .background{
    filter: blur(100%);
    -webkit-filter: blur(1500px);
  }
  a:link {
    color: green;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(30, 6, 240);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }
  
  main {
    padding: 1rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
  }
  
  label {
    margin-top: 1rem;
  }
  
  input,
  select,
  button {
    margin-top: 0.5rem;
    padding: 0.5rem;
  }
  
  button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  #appointmentList {
    margin-top: 2rem;
  }
  #listy{
    display: inline-block;
    margin-left: 20%;
    
  }
  #listy h1{
    color: rgb(145, 58, 58);
    align-items: center;
    margin-left: 25%;
  }
  #listy li{
    display: inline-block;
    padding: 5%;
    align-items: center;
  }